@import "modules/week-summary.scss";

html {
    box-sizing: border-box;
  }
  
  *, *:after, *:before {
    box-sizing: inherit;
  }
  
  body {
    background: rgb(143,149,0);
    background: linear-gradient(90deg, rgba(143,149,0,0.5214460784313726) 0%, rgba(255,255,240,1) 100%);
  }
  
  .favourite-tags {
    background: gainsboro;
    padding: 20px;
    border-bottom: teal 1px solid;

    &__description {
      font-style: italic;
    }

    &__title {
      text-align: center;
    }
  }
  
  .footer {
    max-width: 1000px;
    margin: 0 auto;

    &__content {
      text-align: center;
    }

    &__link {
      color: crimson;
    }
  }

  .form {
      background-color: black;
      padding: 16px;
      color: white;

      &____item {
        display: block;
    }
  }

  // .grid-div {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr;
  // }

  .hamburger {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: pink;
    color: black;
  }

  .main-header {
    background: white;
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
  .main {
    max-width: 1000px;
    margin: 60px auto 0;

    &__heading {
      color: blue;
    }
  }
  
  .main-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
      color: #001261;
    }

    &__description {
      color: #1460aa;
    }

    &__link {
      color: orange;
    }

    &__picture {
      display: block;
      max-width: 100%;
    }
  }

  .navigation {
    padding: 16px;
    display: none;

    &--open {
      display: block;
    }

    &__link {
      display: block;
      margin: 0 0 16px 0;

      &--homepage {

      }
    }
  }
  
  .notes {
  
  }
  
  .list {
    list-style: square;

    &__item {
  
    }
  }
  
  .table {
    width: 100%;
  }

  //grid test:
  .grid {
    background: greenyellow;

    &__child {
      padding: 10px;
      background: red;
      border: 1px solid black;
    }
  }

  .grid-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 16px;
    row-gap: 16px;
  }


  //grid-layout:
  .article {
    grid-area: article;
  }

  .aside {
    grid-area: aside;
  }

  .footer {
    grid-area: footer;
  }

  // .grid-layout-main {
  //   display: grid;
  //   grid-template-areas: "header header"
  //   "article aside"
  //   "footer footer";
  //   grid-template-columns: 1fr 400px;
  //   column-gap: 16px;
  //   row-gap: 16px;
  // }

  .header {
    grid-area: header;
    background-color: royalblue;
    //2 sposób:
    // grid-column-start: 2;
    // grid-column-end: 3;
    // grid-row-start: 1;
    // grid-row-end: 2;
  }

  @media screen and (min-width: 768px) {
    body {
      background: red;
    }

    .grid-div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-layout-main {
      display: grid;
      grid-template-areas: "header header"
      "article aside"
      "footer footer";
      grid-template-columns: 1fr 400px;
      column-gap: 16px;
      row-gap: 16px;
      width: 770px;
      margin: 16px auto;
    }

    .footer {
      background: green;
    }

    .hamburger {
      display: none;
    }

    .navigation {
      padding: 16px;
      border-radius: 8px;
      display: flex;
      justify-content: center;

      &__link {
        color: red;
        display: inline-block;
        margin-right: 20px;

        &:hover {
          color: blue;
        }

        &--homepage {
          color: black;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    body {
      background: purple;
    }
  }