html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background-color: #fefefe;
}

.favourite-tags {
  background: gainsboro;
  padding: 20px;
  border-bottom: teal 1px solid;
}

.favourite-tags__description {
  font-style: italic;
}

.favourite-tags__title {
  text-align: center;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__content {
  text-align: center;
}

.footer__link {
  color: crimson;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.main__heading {
  color: blue;
}

.main-section {
  background-color: white;
}

.main-section__header {
  color: #001261;
}

.main-section__description {
  color: #1460aa;
}

.main-section__link {
  color: orange;
}

.navigation {
  background: #478a05;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #FFFFFF;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background-color: yellow;
  color: black;
}

.list {
  list-style: square;
}

.list__item {

}

.table {
  width: 100%;
}

.week-summary {
  padding: 16px;
  border: 1px solid gray;
}

.week-summary__description {
  color: darkgoldenrod;
  margin-bottom: 20px;
}

.week-summary__title {
  color: aquamarine;
}

.week-summary--special {
  border-color: darkslateblue;
}