body {
  background-color: #fefefe;
}

section {
  background-color: white;
}

h1 {
  color: blue;
}

p {
  color: #001261;
}

.section-header {
  color: #1460aa;
}

a {
  color: orange;
}

nav a {
  color: olivedrab;
}

.navigation {
  background: #478a05;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #FFFFFF;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background-color: yellow;
  color: black;
}

.week-summary {
  padding: 16px;
  border: 1px solid gray;
}

.week-summary__description {
  color: darkgoldenrod;
  margin-bottom: 20px;
}

.week-summary__title {
  color: aquamarine;
}

.week-summary--special {
  border-color: darkslateblue;
}